.sign-up{
      width: 25rem;
      display: block;
      margin: 2rem auto;
      border:0.2rem solid #f0f0f0;
      display: flex;
      flex-direction: column;
}

.sign-up > h1 {
      font-weight: bolder;
      text-align: center;
}

.sign-up > .form-sign-in >div>label{
      margin: 0.5rem 1rem -1rem;
      font-weight: bold;

}
.sign-up .form-sign-in{
      margin: 1rem 1rem 1rem 2rem;
}
.sign-up input,.sign-up button{
      margin: 0 1rem ;
      width: 90%;
      padding: 0.2rem 0;
      text-align: center;
}



.sign-up .amazona-button{
      background-color: #f0c14b;
      font-weight: bolder;
      margin-top: 2rem;
}
.sign-up .sign-in-button{
      background-color: #f0f0f0;
      font-weight: bolder;
      margin: 1.5rem 1rem 0;
      width: 90%;
      text-align: center;
      color: blue;
      text-decoration: underline;
}